node_modules
dist
npm-debug.log
pnpm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
.git
.gitignore
.dockerignore
Dockerfile
Dockerfile.dev
README.md
.vscode
.idea
*.md
coverage
.nyc_output
test
**/*.spec.ts
**/*.test.ts
